body {
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  background: rgb(77,9,91);
  background: linear-gradient(90deg, rgba(77,9,91,1) 17%, rgba(46,4,68,1) 35%, rgba(3,112,78,1) 65%, rgba(21,133,156,1) 100%);
}

input.inputField {
  border: none;
  background: transparent;
  color: gray;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  width: 10%;
}

h1.delta {
  width: 10%;
}
