/*

I really don't like making this kind of stylesheet, but I hate styles.

*/

body {
  background-color: #F6F6F6;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

div.myWork {
  background-color: #191919;
  color: white;
}

*.oneLiner {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 5px;
}

*.oneLiner.noSpacing {
  letter-spacing: normal;
}

#top, #bottom {
  color: #000000;
  position: fixed;
  background-color: #F6F6F6;
  text-align: center;
  font-size: 1rem;
  width: -webkit-fill-available;
}

#top {
  bottom: 0%;
}

#bottom {
  top: 0%;
}

nav a {
  text-decoration: none;
  position: relative;
  color: #000000;
}

nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #000000;
  transition: 0.7s;
}

nav a:hover:after {
  width: 100%;
}

/* Extra Small -- Portrait Phones -- less than 576px */
@media (max-width: 575.98px) {
  *.oneLiner {
    font-size: 3rem;
    letter-spacing: 5px;
  }
}

/* Small -- Landscape Phones -- less than 768px */
@media (max-width:767.96px) {

}

/* Medium -- tablets -- less than 992px */
@media (max-width: 991.98px) {

}

/* Large -- desktops -- less than 1200px */
@media (max-width: 1199.98px) {

}
