<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Delta</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='delta.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Major+Mono+Display" rel="stylesheet">
    <meta name="description" content="Colin Daugherty's personal website, jump in for an in depth look at his experimenting prototypes of coding projects.">
    <meta name="keywords" content="web, developer, colin, daugherty, eighteen, nineteen, 2019, website, websites, development, coding, process, logic, backend, html, css, javascript, php, python, flask, ideas, experimenting">
</head>
<body>
    <main>
        <h1 class="mx-auto">Delta</h1>
        <input class="inputField mx-auto" placeholder="Say hi to Delta" autofocus>
    </main>
    <script src="{{url_for('static', filename='script/jquery.min.js')}}"></script>
    <script src="https://use.fortawesome.com/19d37d2e.js"></script>
    <script src="{{url_for('static', filename='script/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
</body>
</html>
