{% set onscreen = 'home' %}
{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main class="bodywidth">
    <p id="oneLiner">- Colin Daugherty -<br>Self taught programmer through research into IOS and development. Join the journey now.</p>
    <span id="shortAbout"><p>I am a <span id="variableAge">19</span> year old self taught developer, specializing in web development and IOS tweak development. I have been coding now for <span id="timeCoding"></span> years and have taught myself various programming languages such as Python, HTML, Javascript, Java, C#, and others. I was homeschooled my highschool career, and I took one semester at the University of Louisville Speed School for Computer Science and Engineering. Check out some of my work below.</p></span>
    <span id="featuredWork"><p>This feature is coming soon</p></span>
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
